!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DschmuraWebsite
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# Font Awesome 5
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.0.4/js/all.js"}

  %body#page-top{:class => controller.controller_name}
    .corner-ribbon.top-right.sticky.red.shadow Work in Progress

    = render 'layouts/header'
    .content#content
      = yield
      "HI DAVE"
      = render 'layouts/footer'
      = render 'feedback/feedback'

    / Plugin JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
